﻿@model SchoolMGT.Models.students

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>students</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="studentName" class="control-label"></label>
                <input asp-for="studentName" class="form-control" />
                <span asp-validation-for="studentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gender" class="control-label"></label>
                <select asp-for="gender" class="form-control">
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
                <span asp-validation-for="gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dob" class="control-label"></label>
                <input asp-for="dob" class="form-control" />
                <span asp-validation-for="dob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pob" class="control-label"></label>
                <textarea asp-for="pob" class="form-control"></textarea>
                <span asp-validation-for="pob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="currentPlace" class="control-label"></label>
                <textarea asp-for="currentPlace" class="form-control"></textarea>
                <span asp-validation-for="currentPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phone" class="control-label"></label>
                <input asp-for="phone" class="form-control" />
                <span asp-validation-for="phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="transferredFrom" class="control-label"></label>
                <input asp-for="transferredFrom" class="form-control" />
                <span asp-validation-for="transferredFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="momName" class="control-label"></label>
                <input asp-for="momName" class="form-control" />
                <span asp-validation-for="momName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dadName" class="control-label"></label>
                <input asp-for="dadName" class="form-control" />
                <span asp-validation-for="dadName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="noted" class="control-label"></label>
                <textarea asp-for="noted" class="form-control"></textarea>
                <span asp-validation-for="noted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="imagePart" class="control-label"></label>
                <input asp-for="imagePart" class="form-control" />
                <span asp-validation-for="imagePart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
