﻿@model SchoolMGT.Models.students

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>students</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.studentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.studentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.currentPlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.currentPlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.transferredFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.transferredFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.momName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.momName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dadName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dadName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.noted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.noted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imagePart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imagePart)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="studentId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
