﻿
<h1>Students</h1>
@Html.AntiForgeryToken()
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="t1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Date of Birth</th>
            <th>Phone Number</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@* copy from view-index from another sample*@

@section Scripts{
    <script>
    $(document).ready(function () {
        $('#t1').DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                    "ajax": {
                        "url": "students/LoadData",
                        "type": "POST",
                        "dataType": "json"
                    },
                "order": [[3, "desc"]],
                    "columns": [
                        {
                            "data":"studentName",
                            "name":"studentName"
                        },
                        { "data": "gender", "name": "gender" },
                        {
                            "data": "dob", "render": function (data, type, full, meta) {
                                console.log(full.dob);
                                if (full.dob) {
                                    var dd = new Date(full.dob);
                                    console.log(dd.getFullYear());
                                    return dd.getDate() + "/" + (dd.getMonth() + 1) + "/" + dd.getFullYear();
                                }
                            }, "name": "dob"
                        },
                        { "data": "phone", "name": "phone" },

                        {
                            "render": function (data, type, full, meta) {
                                return '<a class="btn btn-info" href="Students/Edit/' + full.studentId + '"><span class="fas fa-edit"></span></a>';
                            },
                            orderable: false
                        },
                        {
                            data: null, render: function (data, type, row) {
                                return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.studentId + "');><span class='fas fa-trash'></span></a>";
                            },
                            orderable: false
                        }
                    ]
                });
            });
             function DeleteData(id)
            {
                if (confirm("Are you sure you want to delete ...?"))
                {
                    Delete(id);
                }
                else
                {
                    return false;
                }
            }


        function Delete(id)
        {
            var url = '@Url.Content("~/")' + "students/Delete/" + id;
            var token = $("[name='__RequestVerificationToken']").val();
            $.post(url, { ID: id, __RequestVerificationToken: token }, function (data)
            {
                if (data)
                {
                    oTable = $('#t1').DataTable();
                    oTable.draw();
                }
                else
                {
                    alert("Something Went Wrong!");
                }
            });
        }
    </script>
}
