﻿@model SchoolMGT.Models.fees

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>fees</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="period" class="control-label"></label>
                <input asp-for="period" class="form-control" />
                <span asp-validation-for="period" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="amount" class="control-label"></label>
                <input asp-for="amount" class="form-control" />
                <span asp-validation-for="amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descr" class="control-label"></label>
                <textarea asp-for="descr" class="form-control"></textarea>
                <span asp-validation-for="descr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
