﻿@model SchoolMGT.Models.fees

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>fees</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.period)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.period)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descr)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.feeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
