﻿
<h1>Fees</h1>
@Html.AntiForgeryToken()
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="t1">
    <thead>
        <tr>
            <th>Period</th>
            <th>Amonut</th>
            <th>Edit</th>
            <th>Delete</th>

        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@* copy from view-index from another sample*@

@section Scripts{
    <script>
    $(document).ready(function () {
        $('#t1').DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                    "ajax": {
                        "url": "fees/LoadData",
                        "type": "POST",
                        "dataType": "json"
                    },
                "order": [1, "desc"],
                    "columns": [
                        {
                            "data":"period",
                            "name":"period"
                        },
                        { "data": "amount", "name": "amount" },
                        {
                            "render": function (data, type, full, meta) {
                                return '<a class="btn btn-info" href="fees/Edit/' + full.feeId + '"><span class="fas fa-edit"></span></a>';
                            },
                            orderable: false
                        },
                        {
                            data: null, render: function (data, type, row) {
                                return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.feeId + "');><span class='fas fa-trash'></span></a>";
                            },
                            orderable: false
                        }
                    ]
                });
            });
             function DeleteData(id)
            {
                if (confirm("Are you sure you want to delete ...?"))
                {
                    Delete(id);
                }
                else
                {
                    return false;
                }
            }


        function Delete(id)
        {
            var url = '@Url.Content("~/")' + "fees/Delete/" + id;
            var token = $("[name='__RequestVerificationToken']").val();
            $.post(url, { ID: id, __RequestVerificationToken: token }, function (data)
            {
                if (data)
                {
                    oTable = $('#t1').DataTable();
                    oTable.draw();
                }
                else
                {
                    alert("Something Went Wrong!");
                }
            });
        }
    </script>
}
